@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,900;1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

/*####################################
                HEADER
####################################*/

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: hsla(0, 0%, 100%, 50%);
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
}

.header-btn {
    border: none;
    border-radius: 50%;
    padding: 0;
    background: none;
    min-width: 48px;
}

.header-btn-svg {
    width: 100%;
    filter: invert(0);
    transition: transform 250ms;
}

.header-btn:hover .header-btn-svg {
    filter: invert(1);
    transform: scale(1.2);
}

/*####################################
                MAIN
####################################*/

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
}

.card {
    background-color: hsla(0, 0%, 100%, 50%);
    position: relative;
    height: 250px;
    width: 200px;
    padding: 20px;
    text-align: center;
    display: grid;
    border-radius: 1rem;
}

/*####################################
                FORM SECTION
####################################*/

.form-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%,40%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.form-modal.active {
    display: flex;
}

.book-form {
    position: relative;
    background-color: hsla(0, 0%, 100%, 100%);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: min-content;
    z-index: 2;
}

.book-form-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.book-form-close:hover {
    filter: invert(0.5) sepia(1) saturate(100);
}

.book-form-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}


/*####################################
                FOOTER
####################################*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 50%);
    text-align: center;
    padding: 0.4rem;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}