@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,900;1,700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

/*####################################
                HEADER
####################################*/

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: gray;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
}

/*####################################
                MAIN
####################################*/

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
}

.card {
    background-color: gray;
    height: 250px;
    width: 200px;
    padding: 20px;
    text-align: center;
    display: grid;
}

/*####################################
                FORM SECTION
####################################*/

.form-section {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%,40%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.book-form {
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: min-content;
}

.book-form-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}


/*####################################
                FOOTER
####################################*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;
    text-align: center;
    padding: 0.4rem;
}

.footer-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
}